<div id="vehicles">
  <h3>Step 3: Retrieve data</h3>
  <p>
    Success! You successfully sent a {{type}} request to the {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{@key}}</td>
          <td>{{this}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div>
    <a href="/vehicles" class="btn btn-primary" role="button">Make another request</a>
    <a href="/logout" class="btn btn-link" role="button">Logout</a>
  </div>
</div>
